<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Rant By {{rant.user_username}}</h4>
            </div>
            <div class="modal-body rant-modal">
                <div class="row item">
                    <div ng-include="'/views/rants/rant.html'"></div>
                </div>
                <div ng-repeat="comment in comments" class="row item">
                    <div ng-include="'/views/rants/comment.html'" class="comment"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="close()" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>